<h3>Reusable Workflows</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Workflow Name</th>
        <th>Usage</th>
    </tr>
    <% workflows.forEach(wf => { %>
    <tr>
        <td><%= wf.name %></td>
        <td><%= wf.description %></td>
        <td><%= wf.workflow %></td>
        <td>
            <pre><code>uses: <%= owner %>/<%= repo %>/.github/workflows/<%= wf.name %>@<%= version %></code></pre><% if (wf.required.length > 0) { %><strong>Required Inputs:</strong><ul><% wf.required.forEach(input => { %><li><code><%= input %></code></li><% }) %></ul><% } %><% if (wf.optional.length > 0) { %><strong>Optional Inputs:</strong><ul><% wf.optional.forEach(input => { %><li><code><%= input %></code></li><% }) %></ul><% } %>
        </td>
    </tr>
    <% }) %>
</table>

<h3>Reusable Actions</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Usage</th>
    </tr>
    <% actions.forEach(a => { %>
    <tr>
        <td><%= a.name %></td>
        <td><%= a.description %></td>
        <td>
            <pre><code>uses: ./actions/<%= a.name %></code></pre><% if (a.required.length > 0) { %><strong>Required Inputs:</strong><ul><% a.required.forEach(input => { %><li><code><%= input %></code></li><% }) %></ul><% } %><% if (a.optional.length > 0) { %><strong>Optional Inputs:</strong><ul><% a.optional.forEach(input => { %><li><code><%= input %></code></li><% }) %></ul><% } %>
        </td>
    </tr>
    <% }) %>
</table>
