<h3>Reusable Workflows</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Workflow Name</th>
    <th>Usage</th>
  </tr>
  <% workflows.forEach(wf => { %>
    <tr>
      <td><%= wf.name %></td>
      <td><%= wf.description %></td>
      <td><%= wf.workflow %></td>
      <td>
        <pre><code>
uses: <%= owner %>/<%= repo %>/.github/workflows/<%= wf.name %>@<%= version %>
            <% if (wf.required.length > 0) { %>
              <strong>Required Inputs:</strong>
              <% wf.required.forEach(input => { %>
                - <%= input %>
              <% }) %>
            <% } %>
            <% if (wf.optional.length > 0) { %>
              <strong>Optional Inputs:</strong>
              <% wf.optional.forEach(input => { %>
                - <%= input %>
              <% }) %>
            <% } %>
          </code></pre>
      </td>
    </tr>
  <% }) %>
</table>

<h3>Reusable Actions</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Usage</th>
  </tr>
  <% actions.forEach(a => { %>
    <tr>
      <td><%= a.name %></td>
      <td><%= a.description %></td>
      <td>
        <pre><code>
uses: ./actions/<%= a.name %>
            <% if (a.required.length > 0) { %>
              <strong>Required Inputs:</strong>
              <% a.required.forEach(input => { %>
                - <%= input %>
              <% }) %>
            <% } %>
            <% if (a.optional.length > 0) { %>
              <strong>Optional Inputs:</strong>
              <% a.optional.forEach(input => { %>
                - <%= input %>
              <% }) %>
            <% } %>
          </code></pre>
      </td>
    </tr>
  <% }) %>
</table>
